<div class="container home-container">
    <div class="row">
        <div class="col-lg-5 col-sm-12 col-md-12">
            <app-highlight-section></app-highlight-section>
        </div>
        <div class="col-lg-7 col-sm-12 col-md-12 mt-4 mb-4">
            <app-fs-carousel></app-fs-carousel>
        </div>
    </div>
    <div class="row mb-4">
      @if(trendingCourses.thumbnailData?.length > 0 ){
        <app-text-thumbnail-slider [textData]="trendingCourses"></app-text-thumbnail-slider>
      }
    </div>
    <div class="row mb-4">
        <app-fs-products></app-fs-products>
    </div>
    <!-- <div class="row mb-4">
        <app-text-thumbnail-slider></app-text-thumbnail-slider>
    </div> -->
    <div class="row mb-4">
        <app-text-desc-image></app-text-desc-image>
    </div>

    <!-- <div class="row mb-4">
        <app-text-thumbnail-slider></app-text-thumbnail-slider>
    </div> -->




    <!-- <div class="row">
        <app-faq [faqData]="faqData"></app-faq>
    </div>
    <div class="row">
        <app-fs-pagination-carousel></app-fs-pagination-carousel>
    </div> -->





    <!-- <div class="row mb-4">
        <app-text-desc-button [textData]="contactRedirectData"></app-text-desc-button>
    </div> -->



<!-- <app-text-desc-button></app-text-desc-button>
<app-text-desc-image></app-text-desc-image>
<app-text-thumbnail-slider></app-text-thumbnail-slider> -->

</div>
