<div class="container courses-container" >
    <div class="row">
        <app-text-desc-button [textData]="courseData"></app-text-desc-button>
       </div>
       <!-- @if(courseList.thumbnailData?.length > 0 ){ -->
       <div class="row mb-4" >
        <!-- @if(courseList?.thumbnailData?.length > 0 ){ -->
        <!-- <app-fs-pagination-carousel [pageData]="courseList"></app-fs-pagination-carousel> -->
        <!-- } -->
        <!-- {{courseList | json}} -->

          <app-fs-pagination-carousel [pageData]="courseList"></app-fs-pagination-carousel>

    </div>
  <!-- } -->
    </div>
