
<div class="highlight-container pt-2 pb-2">
    <h1 class="heading fs-text-color highlight-text-animate"
    [class.heading-underline]="textData.addUnderline && textData.alignHeading === 'left'">{{textData.title}}</h1> 

    <div class="highlight-text">Learn on the go </div>
    <div class="highlight-text">Handpicked courses </div>
    <div class="highlight-text">Learning was never this easy </div>
   

    <div class="button-container text-{{textData.alignButton}}" >
        <button (click)="onButtonClick()" class="fs-button text-center home-button shake" *ngIf="textData?.showButton">
            {{textData.buttonName}}
        </button>
    </div>
</div>