<div class="container-fluid text-desc-image-container pt-2 pb-2">
    <h1 class="heading fs-text-color text-{{textData.alignHeading}}"
        [class.heading-underline]="textData.addUnderline && textData.alignHeading === 'left'">{{textData.title}}</h1>
    <p class="pt-4 pb-2">
        <img [src]="textData.imagePath"
            [ngStyle]="{'width': textData.imageWidth, 'height': textData.imageHeight,'padding':'0rem',
            'border-radius': '0.8rem', 'margin': '0.8rem', 'float':textData.imageFloat}">
        <span [innerHtml]="textData.description">
        </span>
    </p>
</div>