.contact-us-container{
    .register-outer{
        // box-shadow: 2px 2px 2px 4px rgb(0 0 0 / 20%);
        border-radius: 0.8rem;
    }
    .form-title{
        font-size: 1.4rem;
        font-weight: 700;
    }
    .address-container{
        font-weight: 700;
        margin-left: 14rem;
        div{
            padding-bottom: 0.6rem;
        }
    }
    .logo{
        height: 8rem;
    }
    .address-outer{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}
