<div class="container contact-us-container">
    <div class="row">
        <app-text-desc-button [textData]="textDescData"></app-text-desc-button>
       </div>
       <div class="row pt-4 pb-4">
        <div class="col-lg-4 col-sm-12 col-md-6" *ngFor="let item of pageData">
            <app-title-icon-text [pageData]="item"></app-title-icon-text>
        </div>
    </div>
       <div class="row form-section fs-text-color">


              <div class="row">
                <!-- <div class="col-6 p-4 mb-4 register-outer">
                  <div class="form-title mb-4 text-center">You can also fill out the form below with your message</div>
                    <div class="register-form">
                        <form
                          name="form"
                          #f="ngForm"
                          (ngSubmit)="f.form.valid && onSubmit()"
                          novalidate>
                    <div class="row">
                        <div class="col-6 pb-4">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  name="fullname"
                                  [(ngModel)]="formData.fullname"
                                  required
                                  #fullname="ngModel"
                                  [ngClass]="{ 'is-invalid': f.submitted && fullname.errors }"
                                />
                                <div *ngIf="f.submitted && fullname.errors" class="invalid-feedback">
                                  <div *ngIf="fullname.errors['required']">Name is required</div>
                                </div>
                              </div>
                        </div>
                        <div class="col-6 pb-4">
                            <div class="form-group">
                                <label>Email</label>
                                <input
                                  type="email"
                                  class="form-control"
                                  name="email"
                                  [(ngModel)]="formData.email"
                                  required
                                  email
                                  #email="ngModel"
                                  [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
                                />
                                <div *ngIf="f.submitted && email.errors" class="invalid-feedback">
                                  <div *ngIf="email.errors['required']">Email is required</div>
                                  <div *ngIf="email.errors['email']">Email is invalid</div>
                                </div>
                              </div>
                        </div>
                        <div class="col-6 pb-4">
                            <div class="form-group">
                                <label>Phone</label>
                                <input
                                  type="number"
                                  class="form-control"
                                  name="phone"
                                  [(ngModel)]="formData.phone"
                                  required
                                  #phone="ngModel"
                                  [ngClass]="{ 'is-invalid': f.submitted && phone.errors }"
                                />
                                <div *ngIf="f.submitted && phone.errors" class="invalid-feedback">
                                  <div *ngIf="phone.errors['required']">Phone is required</div>
                                </div>
                              </div>
                        </div>
                        <div class="col-6 pb-4">
                            <div class="form-group">
                                <label>Subject</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  name="subject"
                                  [(ngModel)]="formData.subject"
                                  required
                                  #subject="ngModel"
                                  [ngClass]="{ 'is-invalid': f.submitted && subject.errors }"
                                />
                                <div *ngIf="f.submitted && subject.errors" class="invalid-feedback">
                                  <div *ngIf="subject.errors['required']">Subject is required</div>
                                </div>
                              </div>
                        </div>
                        <div class="col-12 pb-4">
                            <div class="form-group">
                                <label>Message</label>
                                <textarea
                                  class="form-control"
                                  name="message"
                                  [(ngModel)]="formData.message"
                                  required
                                  rows="5"
                                  #message="ngModel"
                                  [ngClass]="{ 'is-invalid': f.submitted && message.errors }"
                                ></textarea>
                                <div *ngIf="f.submitted && message.errors" class="invalid-feedback">
                                  <div *ngIf="message.errors['required']">Message is required</div>
                                </div>
                              </div>
                        </div>
                        <div class="col-12 text-center">
                            <div class="form-group">
                                <button type="submit" class="fs-button">
                                  Submit
                                 </button>
                              </div>
                        </div>
                    </div>

                </form>
            </div>

                </div> -->
                <div class="col-lg-3 col-sm-12 col-md-12"></div>
                <div class="col-lg-6 col-sm-12 colmd-12 p-4 address-outer">
                  <!-- <div class="contact-heading fs-text-color mt-1">Reach Us : </div> -->
                  <!-- <div class="form-title mb-4 text-center">Reach Us:</div> -->
                  <div class="contact-description fs-text-color mt-2">
                      <div class="text-center">
                          <img class="logo shake" src="/assets/images/logo/logo-png.png"><br>

                      </div>
                      <div class="address-container pt-4">
                        <div>
                          FORESEEKH EDUTECH LLP,
                      </div>
                        <div>
                            2nd Floor, Assisi Complex , Jail road,
                        </div>
                        <div>
                            Bejai, Mangalore , D.K District,
                        </div>
                        <div>
                            Karnataka, India - 575003
                        </div>
                      </div>
                  </div>
                </div>
                <div class="col-3"></div>
                <!-- <div class="col-6">
                    <div class="row map-section">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.3795809028193!2d74.84077026482105!3d12.88329644091385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba35a469f136439%3A0x5a9833b52554b628!2sAssisi%20Press!5e0!3m2!1sen!2sin!4v1657605130569!5m2!1sen!2sin"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                       </div>
                </div> -->
              </div>
       </div>
<div class="row mt-4 mb-4">
  <app-follow-us></app-follow-us>
</div>

    <!-- <app-text-desc-image></app-text-desc-image>  -->


    </div>
