.contact-us-container{
    .register-outer{
        // box-shadow: 2px 2px 2px 4px rgb(0 0 0 / 20%);
        border-radius: 0.8rem;
    }
    .form-title{
        font-size: 1.4rem;
        font-weight: 700;
    }
}
