.follow-us-container{
    border:1px solid #b7b7b7;
    border-radius: 0.8rem;
    padding-left: 1rem;
    img{
        height: 3.75rem;
        width: 3.75rem;
        @media (max-width: 980px) {
          height: 2.75rem;
          width: 2.75rem;
        }
    }
    .title{
        font-size: 1.4rem;
        font-weight: 700;
    }
    .heading{
        font-size: 1.2rem;
        font-weight: 700;
    }
    .icon-section{
      @media (max-width: 980px) {
        margin-top: 1rem;
      }
    }

}
