<div class="fs-carousel-container nopadding" [class.show-shadow]="sliderData[0].showShadow">
    <ngb-carousel class="mb-4">
        <ng-template ngbSlide *ngFor="let item of sliderData">
            <div class="row banner-outer m-0" [ngStyle]="{'cursor': item?.cursor}">
                <img [src]="item.image" class="slider-image nopadding"
                    (click)="onBannerClick(item.enableBannerClick,item.onBannerClickUrl)">
                    <div class="banner-text-container fs-text-color" *ngIf="item.enableAdditionalTextOnBanner">
                        {{item.title}}
                    </div>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
