<div class="page-header">
    <div class="container">
    <div class="row pt-2 align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-5 mb-1  logo-outer">
          <i class="bi bi-list" (click)="menuOnMobile()"></i>
            <img class="logo" src="/foreseekh-home/assets/images/logo/logo-png.png">
        </div>
        <div class="col-lg-6 text-end menu-outer">
           <ul class="menu-items mb-0">
            <li *ngFor="let menu of menuItems" >
               <a [routerLink]="menu.url" [routerLinkActive]="'is-active'"
               [routerLinkActiveOptions]="{exact: true}" class="brand-font-title">
                {{menu.name}}
               </a>
            </li>
           </ul>
        </div>
        <div class="col-1 text-end nopadding">
            <!-- <button class="fs-button">
                Login
               </button> -->
        </div>
    </div>
</div>
<div class="mobile-menu" *ngIf="showMobileMenu">
  <ul class="menu-items mb-0">
    <li *ngFor="let menu of menuItems"  (click)="menuOnMobile()">
       <a [routerLink]="menu.url" [routerLinkActive]="'is-active'"
       [routerLinkActiveOptions]="{exact: true}" class="brand-font-title">
        {{menu.name}}
       </a>
    </li>
   </ul>
</div>
</div>
