.page-header {
    box-shadow: 0 0.188rem 0.313rem -0.188rem #b8c3c5;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #ffffff;
    .logo {
        width: 6rem;
        height: 5rem;
    }
    // li:after{
    //         left: 50%;
    //         width: 0;
    //         background-color: #158dcb;
    //         transition: width 0.3s ease 0s,left 0.3s ease 0s;
    //     // }
    //     // &:hover:after {
    //     //     width: 100%;
    //     //     left: 0;
    //     // }
    // }

    .menu-items {
        list-style-type: none;

        li {
            display: inline;
            margin-right: 1.5rem;
        }

        a {
            text-decoration: none;
        }
    }

    .nopadding {
        padding: 0;
    }
}