.fs-product-container{
    .faq-section{
        border: 0.1rem solid #128fc9;
        border-radius: 0.8rem;
    }
    .question{
        font-weight: 700;
        .bi{
            float:right;
        }
    }
    .border-bottom{
        border-bottom: 0.1rem solid #128fc9;
    }
}