<div class="container-fluid fs-product-container pt-2 pb-2">
    <h1 class="heading fs-text-color text-{{textData.alignHeading}}"
        [class.heading-underline]="textData.addUnderline && textData.alignHeading === 'left'">{{textData.title}}</h1>
    <p class="pt-4" >{{textData.description}}</p>
    <div class="row all-box-outer">
        <div class="col-4 text-center">
            <div class="individual-box normal-box">
                <div class="individual-box-heading p-2">
                   <span class="box-heading-1">{{textData.boxData1.title1}}</span> 
                   <span class="box-heading-2">{{textData.boxData1.title2}}</span> 
                </div>
                <div class="individual-box-body p-2">
                    {{textData.boxData1.description}}
                </div>
              </div>
        </div>
        <div class="col-4 text-center">
            <div class="individual-box medium-box">
                <div class="individual-box-heading p-2">
                   <span class="box-heading-1">{{textData.boxData2.title1}}</span> 
                   <span class="box-heading-2">{{textData.boxData2.title2}}</span> 
                </div>
                <div class="individual-box-body p-2">
                    {{textData.boxData2.description}}
                </div>
              </div>
        </div>
        <div class="col-4 text-center">
            <div class="individual-box normal-box">
                <div class="individual-box-heading p-2">
                   <span class="box-heading-1">{{textData.boxData3.title1}}</span> 
                   <span class="box-heading-2">{{textData.boxData3.title2}}</span> 
                </div>
                <div class="individual-box-body p-2">
                    {{textData.boxData3.description}}
                </div>
              </div>
        </div>
    </div>
    <!-- <ngb-carousel class="mb-4">
        <ng-template ngbSlide *ngFor="let item of sliderData">
            <div class="row">
                <div class="col-3 justify-content-center d-flex"  *ngFor="let subItem of item">
                    <div class="row m-1 individual-box"   [ngStyle]="{'cursor': textData.cursor}">
                        <div class="col-12 nopadding">
                        <img [src]="subItem.image" class="thumbnail-image" >
                    </div>
                    <div class="col-12 mt-2">
                        <div class="fs-text-color image-title custom-elipsis" [title]="subItem?.title" *ngIf="subItem?.title">{{subItem.title}}</div>
                        <div class="fs-text-color image-description custom-elipsis" [title]="subItem?.description" *ngIf="subItem?.description">{{subItem.description}}</div>
                        <div class="fs-text-color image-author mt-2 custom-elipsis" [title]="subItem?.author" *ngIf="subItem?.author">
                            <i class="bi bi-person-bounding-box "></i>{{subItem.author}}
                        </div>
                        <div class="fs-text-color image-date mt-1 custom-elipsis" [title]="subItem?.date" *ngIf="subItem?.date">
                            <i class="bi bi-calendar-week "></i>{{subItem.date}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-carousel> -->
</div>