.fs-product-container {
    .all-box-outer {
        margin: 0 4rem;
        @media (max-width: 768px) {
          margin: 0 1rem;
        }
    }
    .desc{
      @media (max-width: 768px) {
        display: none;
      }
    }

    .normal-box {
        height: 28rem;
        margin-top: 4rem;
        @media (max-width: 768px) {
          margin-top: 1rem;
        }
    }

    .medium-box {
        height: 36rem;
        @media (max-width: 768px) {
          margin-top: 1rem;
        }
    }

    .individual-box {
        border-radius: 0.6rem;
        overflow: hidden;
        box-shadow: 0 38px 38px rgb(0 0 0 / 20%);
        transition: all 1s ease-in-out;
        position: relative;

        &:hover {
            transform: scaleY(1.04);
            transition: 1s;
        }

        .individual-box-heading {
            background-color: #01488B;
            font-size: 1.8rem;
            font-weight: 700;

            .box-heading-1 {
                color: #3dbbf1;
            }

            .box-heading-2 {
                color: #b7b7b7;
            }
        }

        .individual-box-body {
            background-color: #f9f9f9;
            height: 100%;
        }
        .product-img{
            height: 11rem;
            position: absolute;
            bottom: 0;
            right: 2rem;
        }
    }

}
