<div class="footer-container">
    <div class="container fs-footer-bg-color">
        <div class="row align-items-center pt-4 outer-row-items">
            <div class="col-lg-4 web-menu-section">
                <ul class="footer-menu-items mb-0">
                    <li *ngFor="let menu of footerMenuItems">
                        <a [routerLink]="menu.url" class="footer-text-color">
                            {{menu.name}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-12 col-md-12 contact-section ">
                <div class="contact-number-section mt-2 footer-text-color row">
                    <div class="mb-2"> <b><i class="bi bi-telephone"></i> : </b> +91 7483045967</div>
                    <div class="mb-2"> <b><i class="bi bi-envelope-at"></i> : </b> support&#64;foreseekh.com</div>
                </div>
                <div class="row text-align-center ">
                    <div class="follow-us-title col-12 footer-text-color mb-2">Follow us on :</div>
                    <div class="col-12">
                        <a class="follow-us-icon" target="_blank"
                            href="https://www.facebook.com/profile.php?id=100082986573710">
                            <img src="/foreseekh-home/assets/images/footer/facebook.svg" alt="facebbok">
                        </a>
                        <a class="follow-us-icon" target="_blank">
                            <img src="/foreseekh-home/assets/images/footer/instagram.svg" alt="facebbok">
                        </a>
                        <a class="follow-us-icon" target="_blank"
                            href=" https://www.linkedin.com/in/foreseekh-foreseekh-211927243">
                            <img src="/foreseekh-home/assets/images/footer/linkedin.svg" alt="facebbok">
                        </a>
                        <a class="follow-us-icon" target="_blank"
                            href=" https://www.linkedin.com/in/foreseekh-foreseekh-211927243">
                            <img src="/foreseekh-home/assets/images/footer/twitter.svg" alt="facebbok">
                        </a>
                        <a class="follow-us-icon" target="_blank"
                            href=" https://www.linkedin.com/in/foreseekh-foreseekh-211927243">
                            <img src="/foreseekh-home/assets/images/footer/youtube.svg" alt="facebbok">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 col-md-12">
                <ul class="footer-menu-items mb-0">
                    <li *ngFor="let menu of footerMenuItemsRight">
                        <a [routerLink]="menu.url" class="footer-text-color">
                            {{menu.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="fs-text-color">
        <div class="copy-rights footer-text-color text-center">
            All rights reserved © {{currentYear}} | FORESEEKH EDUTECH LLP
        </div>
    </div>


</div>
