.footer-container{
    background-color: #0e2a44;
    .contact-heading{
        font-weight: bold;
    }
    .footer-text-color{
        color:#ffffff;
    }
    .logo {
        width: 5rem;
        height: 4rem;
    }
    .footer-menu-items{
        list-style-type: none;
        li{
            margin-bottom: 0.4rem;
        }
        a{
            text-decoration: none;
            &:hover{
                color: #ffffff;
            }
        }
    }
    .follow-us-icon{
        margin-right: 2rem;
        color: unset;
        cursor: pointer;
        img{
            height: 1.5rem;
            width: 1.5rem;
        }
    }
    .contact-description{
        font-weight: 700;
        font-size: 0.9rem;
    }
    .copy-rights{
        font-size: 0.8rem;
    }
}