<div class="text-thumbnail-slider-container pt-2 pb-2">
    <h1 class="heading fs-text-color text-{{textData.alignHeading}}"
        [class.heading-underline]="textData.addUnderline && textData.alignHeading === 'left'">{{textData.title}}</h1>
    <p class="pt-4" >{{textData.description}}</p>
    <!-- <ngb-carousel class="mb-4">
        <ng-template ngbSlide *ngFor="let item of sliderData"> -->
            <div class="row">
                <div class="keen-slider" #sliderRef>
                    <!-- <div class="keen-slider__slide number-slide1">1</div> -->
                    <ng-container *ngFor="let subItem of textData.thumbnailData">
                   <div class="col-lg-3 col-sm-12 col-md-6 justify-content-center keen-slider__slide"  >
                    <div class="row m-1 individual-box pb-2"   [ngStyle]="{'cursor': textData.cursor}">
                        <div class="col-12 nopadding">
                        <img [src]="subItem.image" class="thumbnail-image" >
                    </div>
                    <div class="col-12 mt-2">
                        <div class="fs-text-color image-title custom-elipsis" [title]="subItem?.title" *ngIf="subItem?.title">{{subItem.title}}</div>
                        <div class="fs-text-color image-description custom-elipsis" [title]="subItem?.description" *ngIf="subItem?.description">{{subItem.description}}</div>
                        <div class="fs-text-color image-author mt-2 custom-elipsis" [title]="subItem?.author" *ngIf="subItem?.author">
                            <i class="bi bi-person-bounding-box "></i>{{subItem.author}}
                        </div>
                        <div class="fs-text-color image-date mt-1 custom-elipsis" [title]="subItem?.date" *ngIf="subItem?.date">
                            <i class="bi bi-calendar-week "></i>{{subItem.date}}</div>
                        </div>
                    </div>
                </div>
            </ng-container>
                  </div>
                  <div class="arrow-container">
                    <i class="bi bi-caret-left arrow left cursor-pointer" (click)="slider.next()"></i>
                    <i class="bi bi-caret-right arrow right cursor-pointer" (click)="slider.prev()"></i>
                  </div>

            </div>
        <!-- </ng-template>
    </ngb-carousel> -->
</div>
