/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f7fdff;
}
.brand-font-title{
    color:#123f68;
    font-weight: bold;
}
.cursor-pointer{
    cursor: pointer;
}
.fs-button{
    color: #ffffff;
    background-color: #128fc9;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    border: none;
    text-transform: none;
}
// .fs-footer-bg-color{
//     background-color:#dddddd;
// }
.fs-text-color{
    color:#123f68;
}
h1{
    font-size: 1.875rem;
    font-weight: 700;
}
.heading-underline{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        bottom: -0.6rem;
        left: 0;
        height: 0.4rem;
        width: 2rem;
        background: #128fc9;
        border-radius: 0.2rem;
    }
}
.nopadding{
    padding: 0;
}
.text-thumbnail-slider-container, .fs-carousel-container,
.pagination-slider-container{
    .carousel-indicators{
        bottom: -2.625rem;
        button{
            background-color: #128fc9;
            width: 0.8rem;
            height: 0.25rem;
        }
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;

}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.shake {
    animation: shake-animation 4.72s ease ;
    transform-origin: 50% 50%;
  }
@keyframes shake-animation {
    0% { transform:translate(0,0) }
   1.78571% { transform:translate(5px,0) }
   3.57143% { transform:translate(0,0) }
   5.35714% { transform:translate(5px,0) }
   7.14286% { transform:translate(0,0) }
   8.92857% { transform:translate(5px,0) }
   10.71429% { transform:translate(0,0) }
   100% { transform:translate(0,0) }
 }
// .pagination-slider-container{
//     counter-reset: section;
//     button{
//         position: relative;
//         &::before{
//             counter-increment: section;
//             content:counter(section) ;
//         }
//     }
    
// }